
body{
     background : #17A2B8 url(/images/twitter1.jpg);
     background-size: cover;
     background-repeat: no repeat;
}


.tweet {
color: pink;
}


.welcome {
color: pink;
}


.users{ color: gold;

}
a.username {
    color: #00aced
}

a.tag {
    color: #0084b4
}