

body{
     background : #17A2B8 url(/images/twitter_400x400.png);
     background-size: cover;
     background-repeat: no repeat;
}

     @media (min-width:1120px), (min-height: 630px){
     body {background-size: auto;}

     }



a.username {
    color: #00aced
}

a.tag {
    color: #0084b4
}